.box{
    padding: 10px;
    margin: 0.5em 0;
    border-radius: 0.5em;
}

.one{
    background-color: antiquewhite;
}
.two{
    background-color: blueviolet;
}
.three{
    background-color: greenyellow;
}
.four{
    background-color: #02798b;
}
.five{
    background-color: #c55da1;
}
.six{
    background-color: #128a7d;
}
.seven{
    background-color: rgb(2, 121, 139);
}
.eight{
    background-color: rgb(197, 93, 161);
}
.nine{
    background-color: rgb(18, 138, 125);
}
.ten{
    background-color: rgb(2 121 139 / .3);
}
.eleven{
    background-color: rgb(197 93 161 / .7);
}
.twelve{
    background-color: rgb(18 138 125 / 0.9);
}
.thirteen{
    background-color: hsl(188, 97%, 28%);
}
.fourteen{
    background-color: hsl(321 47% 57%);
}
.fifteen{
    background-color: hsl(174 77% 31%);
}
.sixteen{
    background-color: hsl(188 97% 28% / .3);
}
.seventeen{
    background-color: hsl(321 47% 57% / .7);
}
.eighteen{
    background-color: hsl(174 77% 31% / .9);
}