a:link{  
    text-decoration: none;
    font-size: 1em;
    color: rgb(21, 220, 213); 
}
a:hover{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}
a:active{
    font-size: 1em;
    color: rebeccapurple;
}


li:hover{
    background-color: yellow;
}
li:not(:hover){
    background-color: gray;
}
li:nth-child(3n){
    background-color: yellow;
}


.greeting p{
    background-color: lightblue;
    padding: 10px;
    display: none;
}
.greeting:hover p{
    display: block;
}